<section class="h-full flex flex-col">
  <%= render "shared/nav_bar", locals: {middle: 'SIGNUP', left: 'back', path: users_path} %>
  <%= render "shared/flash" %>
  <div class="h-full flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
    <div class="max-w-md w-full space-y-8">
      <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">Sign up</h2>
      <%= form_for(resource, as: resource_name, html: {class: 'w-full'}, url: registration_path(resource_name)) do |f| %>
        <div class="rounded-md shadow-sm -space-y-px">
          <div>
            <%= f.text_field :name, required: true, autofocus: true, autocomplete: "name", placeholder: "Full name", class: "appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-main-500 focus:border-main-500 focus:z-10 sm:text-sm" %>
          </div>
          <div>
            <%= f.email_field :email, required: true, autofocus: true, autocomplete: "email", placeholder: "Email", class: "appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-main-500 focus:border-main-500 focus:z-10 sm:text-sm" %>
          </div>
          <div>
            <%= f.password_field :password, required: true, autocomplete: "new-password", placeholder: "Password", class: "appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-main-500 focus:border-main-500 focus:z-10 sm:text-sm" %>
          </div>
          <div>
            <%= f.password_field :password_confirmation, required: true, autocomplete: "new-password", placeholder: "Confirm password", class: "appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-main-500 focus:border-main-500 focus:z-10 sm:text-sm" %>
          </div>
        </div>
        <%= f.submit "Sign up", class: "group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-main-600 hover:bg-main-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-main-500 mt-6 cursor-pointer" %>
      <% end %>
    </div>
  </div>
</section>
