<section class="flex flex-col w-full h-full">
  <%= render "shared/nav_bar", locals: {middle: 'CHANGE PASSWORD', left: 'back', path: new_user_session_path} %>
  <%= render "shared/flash" %>
  <div class="flex items-center justify-center h-full">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <%= f.hidden_field :reset_password_token %>

      <div class="field">
        <%= f.password_field :password, autofocus: true, autocomplete: "new-password", placeholder: "New password", class: "appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-main-500 focus:border-main-500 focus:z-10 sm:text-sm" %>
      </div>

      <div class="field">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Confirm new password", class: "appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-main-500 focus:border-main-500 focus:z-10 sm:text-sm" %>
      </div>

      <div class="actions w-full flex justify-center">
        <%= f.submit "Change my password", class: "cursor-pointer bg-main-500 hover:bg-main-700 text-white font-bold py-2 px-4 rounded my-2 w-full" %>
      </div>
    <% end %>
  </div>
</section>
