<section class="flex flex-col items-center w-full">
  <h2 class="font-bold text-2xl">Log in</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field my-2">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class: "w-full" %>
    </div>

    <div class="field my-2">
      <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password", class: "w-full" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field">
        <%= f.check_box :remember_me, class:"cursor-pointer" %>
        <%= f.label :remember_me %>
      </div>
    <% end %>
    <div class="actions w-full flex justify-center">
      <%= f.submit "Log in", class: "cursor-pointer bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded my-2" %>
    </div>

  <% end %>

  <%= render "devise/shared/links" %>
</section>
