<section class="h-screen">
  <%= render "shared/nav_bar", locals: {middle: @category.name.upcase, left: 'back', path: categories_path} %>
  <%= render "shared/flash" %>
  <div class="flex w-full border-b py-4 px-2 shadow-md">
    <p class="grow text-text-3">Total:</p>
    <p class="text-text-1 font-bold"><%= @category.total_transactions %></p>
  </div>
  <div class="flex flex-col bg-background pb-20">
    <% @payments.each do |payment| %>
      <%= render partial: 'payments/payment_card', locals: { payment: } %>
    <% end %>
  </div>
  <div class="flex bg-second justify-center fixed bottom-0 w-full text-center">
    <%= link_to "Add a new transaction", new_payment_path(category_id: @category.id), class: "w-full text-center border p-3 m-3 rounded-md text-white" %>
  </div>
</section>