<!DOCTYPE html>
<html>
  <head>
    <title>BudgetRails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <main class="container mx-auto mt-10 px-5 flex flex-col">
      <% if alert || notice %>
        <div class="flash flex w-full justify-center mb-12">
          <div class="p-2 bg-indigo-500 items-center text-indigo-100 leading-none lg:rounded-full flex lg:inline-flex" role="alert">
            <% if alert %>
              <span class="font-semibold mx-3 text-left flex-auto text-white"><%= alert %></span>
            <% end %>
            <% if notice %>
              <span class="font-semibold mx-3 text-left flex-auto text-white"><%= notice %></span>
            <% end %>
          </div>
        </div>
      <% end %>
      <%= yield %>
    </main>
  </body>
</html>
