<!DOCTYPE html>
<html>
  <head>
    <title>BudgetRails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link href="http://fonts.cdnfonts.com/css/proxima-nova-2" rel="stylesheet">
    <%= favicon_link_tag asset_path('favicon.ico') %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <main class="flex flex-col w-full h-full">
      <%= yield %>
    </main>
  </body>
</html>
